<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>按库存</string>
		<dict>
			<key>title</key>
			<string>全部</string>
			<key>params</key>
			<string>type=inventory&amp;menuitem=all</string>
			<key>section</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>有库存</string>
			<key>params</key>
			<string>type=inventory&amp;menuitem=has</string>
            <key>section</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<string>按电商</string>
		<dict>
			<key>title</key>
			<string>全部</string>
			<key>params</key>
			<string>type=EBusiness&amp;menuitem=all</string>
            <key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>亚马逊</string>
			<key>params</key>
			<string>type=EBusiness&amp;menuitem=amazon</string>
            <key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>京东</string>
			<key>params</key>
			<string>type=EBusiness&amp;menuitem=jd</string>
            <key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>苏宁</string>
			<key>params</key>
			<string>type=EBusiness&amp;menuitem=suning</string>
            <key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>一号店</string>
			<key>params</key>
			<string>type=EBusiness&amp;menuitem=yhd</string>
            <key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>易迅</string>
			<key>params</key>
			<string>type=EBusiness&amp;menuitem=yixun</string>
            <key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>国美</string>
			<key>params</key>
			<string>type=EBusiness&amp;menuitem=gome</string>
            <key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>新蛋</string>
			<key>params</key>
			<string>type=EBusiness&amp;menuitem=newegg</string>
            <key>section</key>
			<integer>1</integer>
		</dict>
	</array>
	<array>
		<string>按类别</string>
		<dict>
			<key>title</key>
			<string>全部</string>
			<key>params</key>
			<string>type=category&amp;menuitem=all</string>
            <key>section</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>手机/数码/配件</string>
			<key>params</key>
			<string>type=category&amp;menuitem=mobile</string>
            <key>section</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>电脑/办公/外设</string>
			<key>params</key>
			<string>type=category&amp;menuitem=computer</string>
            <key>section</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>家用电器</string>
			<key>params</key>
			<string>type=category&amp;menuitem=electric</string>
            <key>section</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>家居/家装/厨具/汽配</string>
			<key>params</key>
			<string>type=category&amp;menuitem=home_furnishing</string>
            <key>section</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>钟表/珠宝/礼品/箱包</string>
			<key>params</key>
			<string>type=category&amp;menuitem=gift</string>
            <key>section</key>
			<integer>2</integer>
		</dict>
	</array>
</array>
</plist>
