<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>按库存</string>
		<dict>
			<key>title</key>
			<string>全部</string>
			<key>params</key>
			<string>all</string>
			<key>section</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>有库存</string>
			<key>params</key>
			<string>remain&gt;0</string>
			<key>section</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<string>按电商</string>
		<dict>
			<key>title</key>
			<string>全部</string>
			<key>params</key>
			<string>all</string>
			<key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>亚马逊</string>
			<key>params</key>
			<string>site=&apos;az&apos;</string>
			<key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>京东</string>
			<key>params</key>
			<string>site=&apos;jd&apos;</string>
			<key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>苏宁</string>
			<key>params</key>
			<string>site=&apos;suning&apos;</string>
			<key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>一号店</string>
			<key>params</key>
			<string>site=&apos;yh&apos;</string>
			<key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>易迅</string>
			<key>params</key>
			<string>site=&apos;yx&apos;</string>
			<key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>国美</string>
			<key>params</key>
			<string>site=&apos;gm&apos;</string>
			<key>section</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>新蛋</string>
			<key>params</key>
			<string>site=&apos;ne&apos;</string>
			<key>section</key>
			<integer>1</integer>
		</dict>
	</array>
	<array>
		<string>按类别</string>
		<dict>
			<key>title</key>
			<string>全部</string>
			<key>params</key>
			<string>all</string>
			<key>section</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>手机/数码/配件</string>
			<key>params</key>
			<string>cate=&apos;手机/数码/配件&apos;</string>
			<key>section</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>电脑/办公/外设</string>
			<key>params</key>
			<string>cate=&apos;电脑/办公/外设&apos;</string>
			<key>section</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>家用电器</string>
			<key>params</key>
			<string>cate=&apos;家用电器&apos;</string>
			<key>section</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>家居/家装/厨具/汽配</string>
			<key>params</key>
			<string>cate=&apos;家居/家装/厨具/汽配&apos;</string>
			<key>section</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>钟表/珠宝/礼品/箱包</string>
			<key>params</key>
			<string>cate=&apos;钟表/珠宝/礼品/箱包&apos;</string>
			<key>section</key>
			<integer>2</integer>
		</dict>
	</array>
</array>
</plist>
